<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exdata</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap-4.4.1.css') }}" rel="stylesheet">

  </head>
  <body>
    <div class="jumbotron jumbotron-fluid text-center" style="min-height: 100%; min-height: 100vh; align-items: center;">
		<span class="align-middle">
      <img src="{{ url_for('static', filename='images/logo.png') }}">
      <br />
       <h1 class="display-4">ExData&nbsp;</h1><br />
       <p class="lead">Easily convert your Word .docx reports into a single Excel .xlsx file&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;.</p>
       <hr class="my-4">
       <p class="lead">
          <a class="btn btn-primary btn-lg" href="./converter" role="button">Begin</a>
       </p>
			</span>
		<br /><br /><br /><br />
		<div class="col d-flex justify-content-center " >
  		  <div class="card" style="border-radius: 25px; width:70%;" >
		   	<div class="card-body">
		     <h5 class="card-title">Instructions</h5>
			   <br />
				<div class="card" style="border-color: black; margin:20px; border-radius: 15px;">
					<br/>
	     			<div id="accordion1" role="tablist">
		     			  <div class="card">
		     			    <div class="card-header" role="tab" id="headingOne1">
		     			      <h5 class="mb-0"> <a data-toggle="collapse" href="#collapseOne1" role="button" aria-expanded="true" aria-controls="collapseOne1"> Input format (with example file) </a> </h5>
	     			        </div>
		     			    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordion1">
		     			      <div class="card-body">
                        Files uploaded to the converter should follow this <a href="{{ url_for('static', filename='files/empty.docx') }}">template. </a>
                    </div>
	     			        </div>
     			      </div>
		     			  <div class="card">
		     			    <div class="card-header" role="tab" id="headingTwo1">
		     			      <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseTwo1" role="button" aria-expanded="false" aria-controls="collapseTwo1"> How to use ExData </a> </h5>
	     			        </div>
		     			    <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordion1">
		     			      <div class="card-body">
                      <br />
                      <h3 style='text-align: left'>Step 1: </h3><br />
                      <p style='text-align: left'>
                        Click the 'Begin' button to go to the converter, or if you have any questions on how to use the converter, click on the 'How to use Exdata' accordian to see instructions. If you want a template of the input file, use the download link in the 'Input format (with example file) accordian'
                      </p>
                      <img src="{{ url_for('static', filename='images/1.png') }}" style="width: 50%">
                      <br />
                      <hr class="my-4">
                      <br />
                      <h3 style='text-align: left'>Step 2: </h3><br />
                      <p style='text-align: left'>
                        Click 'Go Back' to return to the home page, or you can click on 'Choose files' to select the report documents to be converted.
                      </p>
                      <img src="{{ url_for('static', filename='images/2.png') }}" style="width: 50%">
                      <br />
                      <hr class="my-4">
                      <br />
                      <h3 style='text-align: left'>Step 3: </h3><br />
                      <p style='text-align: left'>
                        Once you click on 'Choose files', a file explorer window will open, where you can choose multiple .docx reports which follow the format of the template. Not following the template will result in the converter failing.
                      </p>
                      <img src="{{ url_for('static', filename='images/3.png') }}" style="width: 50%">
                      <br />
                      <hr class="my-4">
                      <br />
                      <h3 style='text-align: left'>Step 4: </h3><br />
                      <p style='text-align: left'>
                        After you have selected the report documents to be converted, the files selected will appear in the queue. Don't see the file you want? Click on 'Try again' to clear the queue, and repeat from Step 2.
                      </p>
                      <img src="{{ url_for('static', filename='images/4.png') }}" style="width: 50%">
                      <br />
                      <hr class="my-4">
                      <br />
                      <h3 style='text-align: left'>Step 5: </h3><br />
                      <p style='text-align: left'>
                        Click on 'Convert' to strt the conversion of multiple report .docx files to a single Excel .xlsx file. If you selected multiple files, each .docx file will be converted to a seperate sheet in the Excel file. The sheet name would be the name of the report .docx file. The Excel output would begin to download as soon as the conversion is complete. Keep in mind that larger files take longer to convert.
                      </p>
                      <img src="{{ url_for('static', filename='images/5.png') }}" style="width: 50%">

                    </div>
	     			        </div>
     			      </div>
		     			  <div class="card">
		     			    <div class="card-header" role="tab" id="headingThree1">
		     			      <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseThree1" role="button" aria-expanded="false" aria-controls="collapseThree1"> Documentation </a> </h5>
	     			        </div>
		     			    <div id="collapseThree1" class="collapse" role="tabpanel" aria-labelledby="headingThree1" data-parent="#accordion1">
		     			      <div class="card-body">
                    <b>Developers:</b>  Charles Corro and Nitin Ramesh. <br />
                    <b>Tools used:</b> Python Flask, HTML, CSS
                    </div>
	     			        </div>
     			      </div>
     			  </div>
     			  <br/>
				</div>
				<br /><br />

      		</div>
		<br />
		</div>
	  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-4.4.1.js') }}"></script>

  </body>
</html>
